# =========================
# ENVIRONMENT & SECRETS
# =========================
.env

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
t-luxury/
venv/
virtualenv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# DATABASE
# =========================
db.sqlite3

# =========================
# DJANGO FILES
# =========================
staticfiles/
media/

# =========================
# LOGS
# =========================
*.log
stderr.log

# =========================
# ARCHIVES / BACKUPS
# =========================
*.zip

# =========================
# OS FILES (WINDOWS / MAC)
# =========================
Thumbs.db
.DS_Store